<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>Recolor images</title>
    <script>
    $(function(){
        $('.colpicker').colorpicker();
    });
    </script>
  </head>
  <body>
      <h1>Recolor images</h1>
      <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label">Select Color</label>
              <div class="input-group colpicker">
                <input type="text" value="#5367ce" class="form-control" />
                <span class="input-group-addon"><i></i></span>
              </div>
              <label class="control-label">Select Images</label>
              <input id="imageInput" type="file" class="file" data-allowed-file-extensions='["svg"]' multiple="true" data-show-upload="false">
              <button class="btn btn-large btn-primary" type="submit">Recolor</button>
            </div>
        </form>
      </div>
      <script type="text/javascript" src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>
  </body>
</html>
